@import "tailwindcss";

@theme {
    --color-text: oklch(var(--text));
    --color-background: oklch(var(--background));
    --color-primary: oklch(var(--primary));
    --color-secondary: oklch(var(--secondary));
    --color-accent: oklch(var(--accent));
}

@layer base {
    :root {
        --text: 17.87% 0.024 92.72;
        --background: 98.52% 0.011 89.72;
        --primary: 50.90% 0.094 95.90;
        --secondary: 83.42% 0.109 182.06;
        --accent: 54.94% 0.130 249.06;
    }

    .dark {
        --text: 97.27% 0.018 92.68;
        --background: 13.91% 0.021 98.77;
        --primary: 87.02% 0.097 96.95;
        --secondary: 59.21% 0.100 179.95;
        --accent: 64.25% 0.129 248.26;
    }
}